In [1]:
myAge = 32
print(myAge)

32

In [2]:
myAge = 33
print(myAge)

33

In [3]:
print(myAge/3)

11.0

In [4]:
myAge = myAge + 1
print(myAge)

34

In [5]:
restaurantBill = 36.17
serviceCharge = 0.125
tip = restaurantBill * serviceCharge
print(tip)

4.52125

In [6]:
type(33)

int

In [7]:
type(33.6)

float

In [8]:
type("Matt")

str

In [9]:
type(myAge)

int

In [10]:
type(restaurantBill)

float

In [11]:
# Python "List" (items within can have different types)
primeNumbers = [3, 7, 61, 29, 199]
type(primeNumbers)

list

In [12]:
coolPeople = ['Rafa', 'Roger', 'Matt']
primeAndPeople = ['King Arthur', 17, 11, 'James']
type(primeAndPeople)

list

In [13]:
primeAndPeople[2]

11

In [14]:
bestPrime = primeNumbers[4]
print(bestPrime)

199

In [15]:
# Python "Array" = numpy.ndarray (items within must be of same type)
nmubers = ([1, 2, 3, 4, 5])

In [16]:
# dataframes
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [17]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [18]:
type(data)

pandas.core.frame.DataFrame

In [19]:
data['Avg_Math_Test_Score']

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [20]:
onlyMathScore = data['Avg_Math_Test_Score']
print(onlyMathScore)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [21]:
# adding new column to exting dataframe
data['Test_Subject'] = 'Jennifer Lopez'

In [22]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [23]:
data['High_Score'] = 100

In [24]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [25]:
data['High_Score'] = 150

In [26]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0         150
1         150
2         150
3         150
4         150
5         150
6         150

In [27]:
data['Squared_High_Scores'] = data['High_Score']*data['High_Score']

In [28]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score  Squared_High_Scores
0         150                22500
1         150                22500
2         150                22500
3         150                22500
4         150                22500
5         150                22500
6         150                22500

In [29]:
# Python "Series" -> has only one column
type(onlyMathScore)

pandas.core.series.Series

In [30]:
# Python dataframe -> collection of series -> has rows and columns

In [33]:
# create a new list (=Dataframe) that contains only two columns (=series) of data
columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
cleanData = data[columnList]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [34]:
type(cleanData)

pandas.core.frame.DataFrame

In [38]:
# List (=DataFrame) vs Series
# for running regression we want to work with DataFrames rather than Series

In [36]:
y = data[['Avg_Math_Test_Score']]

In [37]:
type(y)

pandas.core.frame.DataFrame

In [39]:
w = data['Avg_Math_Test_Score']

In [40]:
type(w)

pandas.core.series.Series

In [41]:
x = data[['LSD_ppm']]
print(x)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [42]:
type(x)

pandas.core.frame.DataFrame

In [43]:
# deleting a column
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score  \
0                      5     1.17                78.93         150
1                     15     2.97                58.20         150
2                     30     3.26                67.47         150
3                     60     4.69                37.47         150
4                    120     5.83                45.65         150
5                    240     6.00                32.92         150
6                    480     6.41                29.97         150

   Squared_High_Scores
0                22500
1                22500
2                22500
3                22500
4                22500
5                22500
6                22500

In [44]:
# importing python modules
import life

In [45]:
type(life)

module

In [46]:
life.theAnswer

42

In [47]:
import math

In [48]:
math.pi

3.141592653589793

In [49]:
math.e

2.718281828459045

In [50]:
from life import theAnswer

In [51]:
myFavNum = theAnswer
print(myFavNum)

42

In [52]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [53]:
# functions
def get_milk():
    print('open door')
    print('walk to store')
    print('buy milk')
    print('return home with milk')

In [54]:
get_milk()

open door
walk to store
buy milk
return home with milk